*{
    margin: 0;
    padding: 0%;
}

.nav_logo{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
.nav_logo img{
    flex-wrap: wrap;
    flex-direction: row;
    width:210px;
    padding-left: 30px;
}


